---
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: databases
  labels:
    app: redis
data:
  redis.conf: |
    maxmemory 1gb
    maxmemory-policy allkeys-lru
    save 900 1
    save 300 10
    save 60 10000
    appendonly yes
    appendfsync everysec