---
apiVersion: v1
kind: Service
metadata:
  name: redis-nodeport
  namespace: databases
  labels:
    app: redis
spec:
  type: NodePort
  ports:
  - port: 6379
    targetPort: 6379
    nodePort: 30379
    protocol: TCP
    name: redis
  selector:
    app: redis