---
apiVersion: v1
kind: Service
metadata:
  name: chromadb-nodeport
  namespace: databases
  labels:
    app: chromadb
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
    name: http
  selector:
    app: chromadb