---
apiVersion: v1
kind: Service
metadata:
  name: chromadb
  namespace: databases
  labels:
    app: chromadb
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: chromadb