---
apiVersion: v1
kind: Service
metadata:
  name: data-pipeline-nodeport
  namespace: trading-system
  labels:
    app: data-pipeline
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
    name: http
  selector:
    app: data-pipeline