apiVersion: v1
kind: Service
metadata:
  name: local-registry
  namespace: kube-system
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500 # Use an available NodePort
    protocol: TCP
  selector:
    app: local-registry
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: local-registry
  namespace: kube-system
  labels:
    app: local-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: local-registry
  template:
    metadata:
      labels:
        app: local-registry
    spec:
      containers:
      - name: registry
        image: registry:2
        ports:
        - containerPort: 5000
