---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: databases
  labels:
    app: postgres
data:
  POSTGRES_DB: trading_db
  POSTGRES_USER: trading_user
  PGDATA: /var/lib/postgresql/data/pgdata