---
apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport
  namespace: databases
  labels:
    app: postgres
spec:
  type: NodePort
  ports:
  - port: 5432
    targetPort: 5432
    nodePort: 30432
    protocol: TCP
    name: postgres
  selector:
    app: postgres
